<!DOCTYPE html>
{% extends "home_page/home.html" %}
{% load static %}

{% block home_block %}

<div id="ac">
    <h3 style="text-align: center;  padding-top: 10px;">About Us</h3>
    <p class="ac1">The purpose of the blood bank management system is to simplify and automate the process of searching for blood in case of emergency and maintain the records of blood donors, recipients, blood donation programs and blood stocks in the bank</p>
    <p class="ac1">The blood bank management system has been developed to override the problems prevailing in the practicing manual system. This software idea supported to eliminate and, in some cases, reduce the hardships faced by this existing system</p>
</div>


{% endblock %}