<!DOCTYPE html>
{% extends "home_page/home.html" %}
{% load static %}

{% block home_block %}

<h2 style="text-align: center;">Available Blood Units</h2>

<div class="table-bordered">


    <table>
        <tr style="color: red;">
            <th>Blood Group</th>
            <th>Available Unit</th>
        </tr>
        {% for k,v in df.items %}
        <tr>
            {% if v < 0 %}
            <td>{{k}}</td>
            <td>0</td>
            {% else %}
            <td>{{k}}</td>
            <td>{{v}}</td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
    
    
</div>

{% endblock %}